<div class="card animated fadeIn fast">
    <!-- <img src="{{heros.img}}" class="card-img-top" alt="{{heros.nombre}}"> -->
    <img [src]="villanos.img" class="card-img-top" [alt]="villanos.nombre">
    <div class="card-body">
        <h5 class="card-title">{{villanos.nombre}}</h5>
        <p class="card-text">{{villanos.bio}}</p>
        <p class="card-text"><small class="text-muted">{{villanos.aparicion}}</small></p>
        <button type="button" (click)="verVillano()" class="btn btn-outline-primary btn-block">Ver mas ...</button>
    </div>
</div>